# Temporary

@labjack/ljswitchboard-builder/lib/index.js
@labjack/ljswitchboard-core/lib/index.js
@labjack/ljswitchboard-device_manager/device_manager.js
@labjack/ljswitchboard-electron_splash_screen/lib/index.js
@labjack/ljswitchboard-kipling/lib/index.js
@labjack/ljswitchboard-kipling/lib/js/file_browser.js
@labjack/ljswitchboard-kipling/lib/js/keyboard_event_handler.js
@labjack/ljswitchboard-kipling/lib/js/module_chrome.js
@labjack/ljswitchboard-kipling/lib/js/module_loader.js
@labjack/ljswitchboard-kipling/lib/js/task_loader.js
@labjack/ljswitchboard-kipling_tester/lib/index.js
@labjack/ljswitchboard-ljm_device_manager/test/get_ljm_version.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/analog_inputs/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/analog_outputs/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/dashboard_logger/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/device_info/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/device_info_fw/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/device_selector/view_generator.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/device_updater/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/digital_io_config/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/file_browser_fw/view_generator.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/device_constants.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/framework_standalone.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/presenter_framework.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/presenter_framework_test.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/kipling_updater_service/kipling_updater_service.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/module_manager/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/network_configuration/controller.js
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/register_matrix/controller.js
@labjack/ljswitchboard-package_loader/lib/extractors/extract_with_unzip.js
@labjack/ljswitchboard-package_loader/lib/parsers/parse_with_unzip.js
@labjack/ljswitchboard-splash_screen/lib/index.js




# To clean up:
@labjack/LabJack-nodejs/Old Stuff/
@labjack/LabJack-nodejs/lib/driver_wrapper_old.js
@labjack/process_manager/examples/
@labjack/process_manager/test/
@labjack/ljswitchboard-simple_logger/
@labjack/ljm-ffi/examples
@labjack/ljswitchboard-builder/lib/old/
@labjack/ljswitchboard-builder/test/test-old.js
@labjack/ljswitchboard-device_scanner/test
@labjack/ljswitchboard-splash_screen/lib/old
@labjack/ljswitchboard-kipling/lib/node_modules
@labjack/ljswitchboard-ljm_device_curator/test
@labjack/ljswitchboard-modbus_map/potential_json_additions
@labjack/ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/framework_connector_old.js


# Project-specific files to ignore
temp_project_files/


# Ignore node_modules everywhere. Not sure why the default node_modules ignore isn't working.
@labjack/kipling-cli/node_modules/**
@labjack/labjack-nodejs/node_modules/**
@labjack/process_manager/node_modules/**
@labjack/lj-apps-win-registry-info/node_modules/**
@labjack/lj_async_0_to_x_shim/node_modules/**
@labjack/ljm-ffi/node_modules/**
@labjack/ljm-shell_logger/node_modules/**
@labjack/ljmmm-parse/node_modules/**
@labjack/ljswitchboard-builder/node_modules/**
@labjack/ljswitchboard-core/node_modules/**
@labjack/ljswitchboard-data_parser/node_modules/**
@labjack/ljswitchboard-device_manager/node_modules/**
@labjack/ljswitchboard-device_scanner/node_modules/**
@labjack/ljswitchboard-electron_splash_screen/node_modules/**
@labjack/ljswitchboard-firmware_verifier/node_modules/**
@labjack/ljswitchboard-io_manager/node_modules/**
@labjack/ljswitchboard-kipling/node_modules/**
@labjack/ljswitchboard-kipling_tester/node_modules/**
@labjack/ljswitchboard-ljm_device_curator/node_modules/**
@labjack/ljswitchboard-ljm_device_manager/node_modules/**
@labjack/ljswitchboard-ljm_driver_checker/node_modules/**
@labjack/ljswitchboard-ljm_driver_constants/node_modules/**
@labjack/ljswitchboard-ljm_special_addresses/node_modules/**
@labjack/ljswitchboard-modbus_map/node_modules/**
@labjack/ljswitchboard-module_manager/node_modules/**
@labjack/ljswitchboard-package_loader/node_modules/**
@labjack/ljswitchboard-require/node_modules/**
@labjack/ljswitchboard-server/node_modules/**
@labjack/ljswitchboard-simple_logger/node_modules/**
@labjack/ljswitchboard-splash_screen/node_modules/**
@labjack/ljswitchboard-static_files/node_modules/**
@labjack/ljswitchboard-static_files/static/**
@labjack/ljswitchboard-version_manager/node_modules/**
@labjack/ljswitchboard-window_manager/node_modules/**
node_modules/**
