# Temporary

ljswitchboard-builder/lib/index.js
ljswitchboard-core/lib/index.js
ljswitchboard-device_manager/device_manager.js
ljswitchboard-electron_splash_screen/lib/index.js
ljswitchboard-kipling/lib/index.js
ljswitchboard-kipling/lib/js/file_browser.js
ljswitchboard-kipling/lib/js/keyboard_event_handler.js
ljswitchboard-kipling/lib/js/module_chrome.js
ljswitchboard-kipling/lib/js/module_loader.js
ljswitchboard-kipling/lib/js/task_loader.js
ljswitchboard-kipling_tester/lib/index.js
ljswitchboard-ljm_device_manager/test/get_ljm_version.js
ljswitchboard-module_manager/lib/switchboard_modules/analog_inputs/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/analog_outputs/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/dashboard_logger/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/device_info/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/device_info_fw/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/device_selector/view_generator.js
ljswitchboard-module_manager/lib/switchboard_modules/device_updater/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/digital_io_config/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/file_browser_fw/view_generator.js
ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/device_constants.js
ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/framework_standalone.js
ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/presenter_framework.js
ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/presenter_framework_test.js
ljswitchboard-module_manager/lib/switchboard_modules/kipling_updater_service/kipling_updater_service.js
ljswitchboard-module_manager/lib/switchboard_modules/module_manager/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/network_configuration/controller.js
ljswitchboard-module_manager/lib/switchboard_modules/register_matrix/controller.js
ljswitchboard-package_loader/lib/extractors/extract_with_unzip.js
ljswitchboard-package_loader/lib/parsers/parse_with_unzip.js
ljswitchboard-splash_screen/lib/index.js




# To clean up:
LabJack-nodejs/Old Stuff/
LabJack-nodejs/lib/driver_wrapper_old.js
LabJack-process_manager/examples/
LabJack-process_manager/test/
ljswitchboard-simple_logger/
ljm-ffi/examples
ljswitchboard-builder/lib/old/
ljswitchboard-builder/test/test-old.js
ljswitchboard-device_scanner/test
ljswitchboard-splash_screen/lib/old
ljswitchboard-kipling/lib/node_modules
ljswitchboard-ljm_device_curator/test
ljswitchboard-modbus_map/potential_json_additions
ljswitchboard-module_manager/lib/switchboard_modules/framework/kipling-module-framework/framework_connector_old.js


# Project-specific files to ignore
temp_project_files/


# Ignore node_modules everywhere. Not sure why the default node_modules ignore isn't working.
kipling-cli/node_modules/**
labjack-nodejs/node_modules/**
LabJack-process_manager/node_modules/**
lj-apps-win-registry-info/node_modules/**
lj_async_0_to_x_shim/node_modules/**
ljm-ffi/node_modules/**
ljm-shell_logger/node_modules/**
ljmmm-parse/node_modules/**
ljswitchboard-builder/node_modules/**
ljswitchboard-core/node_modules/**
ljswitchboard-data_parser/node_modules/**
ljswitchboard-device_manager/node_modules/**
ljswitchboard-device_scanner/node_modules/**
ljswitchboard-electron_splash_screen/node_modules/**
ljswitchboard-firmware_verifier/node_modules/**
ljswitchboard-io_manager/node_modules/**
ljswitchboard-kipling/node_modules/**
ljswitchboard-kipling_tester/node_modules/**
ljswitchboard-ljm_device_curator/node_modules/**
ljswitchboard-ljm_device_manager/node_modules/**
ljswitchboard-ljm_driver_checker/node_modules/**
ljswitchboard-ljm_driver_constants/node_modules/**
ljswitchboard-ljm_special_addresses/node_modules/**
ljswitchboard-modbus_map/node_modules/**
ljswitchboard-module_manager/node_modules/**
ljswitchboard-package_loader/node_modules/**
ljswitchboard-require/node_modules/**
ljswitchboard-server/node_modules/**
ljswitchboard-simple_logger/node_modules/**
ljswitchboard-splash_screen/node_modules/**
ljswitchboard-static_files/node_modules/**
ljswitchboard-static_files/static/**
ljswitchboard-version_manager/node_modules/**
ljswitchboard-window_manager/node_modules/**
node_modules/**
