.progress{box-shadow: none;}

.bs-callout-success {border-left-color: #3c763d;}
.bs-callout-success h4 {color: #3c763d;}

button, input[type=button], input[type=reset], input[type=submit] {background-clip: border-box;}

.badge {
    padding-right:9px;
    padding-left:9px;
    border-radius:9px;
}

.list-group {
	margin-bottom:10px;
}
.list-group-item {

}
.list-group-item:last-child {
	margin-bottom:2px;
	 border-bottom-right-radius:0;
	 border-bottom-left-radius:0;
}
.list-group-item:first-child {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.expand-right .dropdown-menu {
    right:0;
    left:auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
/*border-top: 1px solid #ddd;*/
border-top:none;
}