.progress{box-shadow: none;}

.bs-callout-success {border-left-color: #3c763d;}
.bs-callout-success h4 {color: #3c763d;}

/* Fixing the weird button-highlighting
https://bootstrapbay.com/blog/bootstrap-button-styles/
*/
/*.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}*/

.btn {
  border-width: 1px;
  margin: 1px;
}
.dropdown-menu {
  border-width: 1px;
}
.multiselect-container {
  margin-left: 2px;
}
/* Styling to fix modbus-map tag filter. */
.input-group .form-control {
  height: 30px;
  border-width: 1px;
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=url], input[type=search], textarea {
  margin-top: 1px; 
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
button, input[type=button], input[type=reset], input[type=submit] {background-clip: border-box;}

.badge {
    padding-right:9px;
    padding-left:9px;
    border-radius:9px;
}

.list-group {
	margin-bottom:10px;
}
.list-group-item {

}
.list-group-item:last-child {
	margin-bottom:2px;
	 border-bottom-right-radius:0;
	 border-bottom-left-radius:0;
}
.list-group-item:first-child {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.expand-right .dropdown-menu {
    right:0;
    left:auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
/*border-top: 1px solid #ddd;*/
border-top:none;
}

/* Adding different pannel stylings */
.panel-default .panel-heading a:hover{
    color:#333;
}
.panel-primary .panel-heading a:hover{
    color:#fff;
}
.panel-success .panel-heading a:hover{
    color:#3c763d;
}
.panel-danger .panel-heading a:hover{
    color: #a94442;
}

/* Extra badge styling */
.label-danger, .badge-danger {
      color: #fff;
    background-color: #c9302c;
}
label.radio {
    margin-top: -8px;
    margin-bottom: 0;
}
span.metro-radio::before {
    top: 4px;
    left: 2px;
}
input[type=radio] ~ span.metro-radio::before {
  top: 4px;
  left: 2px;
}
@media (min-width: 1200px) {
	.row {
	   margin-left: -20px; 
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	.row {
	  margin-left: -20px;
	}
}
@media (max-width: 767px) {
    .row, .thumbnails {
	  margin-left:-20px;
	}
}

/* Styling fixes for nav-bar elements */
.navbar .nav>li>a {
  float: none;
  padding: 10px 15px 10px;
  color: #000;
  text-decoration: none;
  text-shadow: none;
}
.nav-tabs {
  margin-top: 30px;
}
.nav>li>a {
  background-color: #dbdbdb;
}

/* Command Icons with custom coloring */
.win-command.green .win-commandicon,
.win-command.green .win-label {
  color: #2b542c;
}
.win-command.green .win-commandring {
  border-color: #2b542c;
}
.win-command.green:hover .win-commandring {
   background-color: #dff0d8;
}

.win-command.blue .win-commandicon,
.win-command.blue .win-label {
  color: #245269;
}
.win-command.blue .win-commandring {
  border-color: #245269;
}
.win-command.blue:hover .win-commandring {
   background-color: #d9edf7;
}

.win-command.yellow .win-commandicon,
.win-command.yellow .win-label {
  color: #66512c;
}
.win-command.yellow .win-commandring {
  border-color: #66512c;
}
.win-command.yellow:hover .win-commandring {
   background-color: #fcf8e3;
}

.win-command.red .win-commandicon,
.win-command.red .win-label {
  color: #843534;
}
.win-command.red .win-commandring {
  border-color: #843534;
}
.win-command.red:hover .win-commandring {
   background-color: #f2dede;
}

/* Fix for drop-down button dividers */
.dropdown-menu .divider {
    height:2px;
}

/* Bootmetro Fix things for network_settings*/
.table.table-sm td{
  padding:0px;
}
.table.table-sm thead th{
  padding: 8px 0px 0px 0px;
}
/* End of Bootmetro fix things */