node_modules/*
locales
Kipling.exe
kipling.exe
output/*
temp_project_files/*
temp_extract_test_dir/*
temp_zip_test_dir/*
output.zip
output.tar.gz

.DS_Store

build_tools/resource_hacker/ResourceHacker.ini
build_tools/resource_hacker/ResourceHacker.log

Kipling*.zip
kipling*.zip
kipling*.tar.gz

Kipling.3.*
kipling.3.*

package-lock.json